@model Employee_Management1.Models.Employee
@{
    ViewData["Title"] = "AddEmployee";
}

<link href="~/css/style.css" rel="stylesheet" />

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- Include jQuery library -->

<script type="text/javascript">
    $(document).ready(function () {
        $('form').submit(function () {
            showMessage();
        });
    });

    function showMessage() {
        alert("Data Created successfully");
    }
</script>

<h2>Create Employee Details</h2>

<div class="form-container">
    <form asp-controller="Employee" asp-action="AddEmployee" method="post">
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <label asp-for="FirstName" class="control-label">First Name</label>
                <div class="input-box">
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label">Last Name</label>
                <div class="input-box">
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label">Phone</label>
                <div class="input-box">
                    <input asp-for="Phone" class="form-control" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Email</label>
                <div class="input-box">
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="DateofBirth" class="control-label">Date Of Birth</label>
                <div class="input-box">
                    <input asp-for="DateofBirth" class="form-control" />
                    <span asp-validation-for="DateofBirth" class="text-danger"></span>
                </div>
            </div>
@*             <div class="form-group">
                <label asp-for="SalaryId" class="control-label">Salary ID</label>
                <div class="input-box">
                    <input asp-for="SalaryId" class="form-control" />
                    <span asp-validation-for="SalaryId" class="text-danger"></span>
                </div>
            </div> *@


            <!-- Add other form fields similarly -->

            <div class="form-group">
                <label asp-for="EmployeeSalary.Salary" class="control-label">Salary</label>
                <div class="input-box">
                    <input asp-for="EmployeeSalary.Salary" class="form-control" />
                    <span asp-validation-for="EmployeeSalary.Salary" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="EmployeeSalary.PayDay" class="control-label">Pay Day</label>
                <div class="input-box">
                    <input asp-for="EmployeeSalary.PayDay" class="form-control" />
                    <span asp-validation-for="EmployeeSalary.PayDay" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div>
    <a asp-controller="Employee" asp-action="Index">Back to List</a>
</div>
